* {
     margin: 0;
     padding: 0 ;
     box-sizing: border-box;

}
body{  background-color: #F5F5DC;}


html {
    font-family: 'Noto Sans', sans-serif;
}
.pric{color: green; position: inherit;}

.bords{

  display:inline-block;
  background: #fffde1;
    opacity: 1;
  padding: 5px 12px;
  border:1px solid #ddd;
  border-radius: 3px;
  margin: 10px;
  width: 120px;
  height: 150px;
 overflow:hidden;

}


.imgMod{
  margin: 0;
  padding: 0;
  height: 100px;
  width: 100px;
  margin-left: -5%;
  vertical-align: middle;
  border: none;
}
